h1{
  text-align: center;
}
.App{
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
 background-color: rgb(235, 231, 231);
  width: 100%;
}
.card-img-top{
  height: 70%;
  width: 100%;
}

.text{
  text-align: center;
  font-size: 20px;
  color: blue;
  text-transform: capitalize;
}

h1{
  text-align: center;}